/* @Author ICC-Inatel */
body{
        background-color: rgb(39,180,234);     
}
.pageLogo{            
        width:260px ;
        height:280px;    
        max-width:100%;	        	       
        background-image: url(../img/logo.jpg);     
        background-size: 100% 100% ;
        background-repeat: no-repeat;
        margin: 5%  auto;  
        border: 0px solid rgb(39,180,234);                 
}
.class-panel-select{
        border: 0px solid rgb(39,180,234);
        width: 165px;
        height: 44px;    
        padding: 0%;
        margin: 400px auto;  
        background-color: rgb(39,180,234);          
}
#listCity{       
        width: 165px;        
        margin: 0px auto;        
        border: 0px solid rgb(39,180,234); 
        border-bottom: 1px solid #000;        
        background-color: rgb(39,180,234); 
        color: white;
}

